<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71854663548-ik94gvpbhq3b8guavjgteogg55d6njat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71854663548-ik94gvpbhq3b8guavjgteogg55d6njat</string>
	<key>API_KEY</key>
	<string>AIzaSyATewO8tFPJJUTEWptJ6ZGcmEGbTcXo9VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>71854663548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aoyagih.multiLanguageTest</string>
	<key>PROJECT_ID</key>
	<string>multilantest</string>
	<key>STORAGE_BUCKET</key>
	<string>multilantest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71854663548:ios:1c3b301170fe3447fe66f9</string>
	<key>DATABASE_URL</key>
	<string>https://multilantest.firebaseio.com</string>
</dict>
</plist>